@page "/"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Dashboard</PageTitle>

<div style="display: flex;justify-content: space-around">
    @foreach (var shoppingList in ShoppingLists)
    {
        <FluentCard Style="min-width: 200px; min-height: 300px; display: flex; flex-direction: column; justify-content: space-between;"
                    Width="auto"
                    Height="auto">
            <p><b>@shoppingList.Name</b></p>

            <div>
                @foreach (var item in shoppingList.Items.Take(6))
                {
                    string image = item.IsBought ? new Icons.Regular.Size20.CheckmarkCircle().WithColor("green").ToDataUri() : new Icons.Regular.Size20.DismissCircle().WithColor("red").ToDataUri();
                    <li style="padding: 3px 0 3px 0; list-style-image: url('@image') ">@item.Product</li>
                }
                @if (shoppingList.Items.Count > 6)
                {
                    string image = new Icons.Regular.Size20.QuestionCircle().WithColor("blue").ToDataUri();
                    <li style="padding: 3px 0 3px 0; list-style-image: url('@image')">. . . .</li>
                }
            </div>

            <div style="display: flex; justify-content: flex-end">
                <a href="@($"/lists/open/{shoppingList.Id}")">
                    <FluentButton Style="margin-top: 20px"
                                  Appearance="Appearance.Accent">
                        Select
                    </FluentButton>
                </a>
            </div>

        </FluentCard>
    }
</div>
